body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
    overflow: visible;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 1200px;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.logo {
    width: 200px;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    font-size: 1.2em;
    color: #666;
    margin: 0;
}

.cta-link {
    font-size: 1.2em;
    color: #000;
    text-decoration: none;
    background-color: #00aaff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}

.cta-link:hover {
    background-color: #007acc;
}

.flyer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flyer {
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.banner {
     display: block;
    width: 100%;  /* This makes the image take the full width of its container */
    height: auto;  /* Allows the height to adjust automatically */
    object-fit: contain; 
}

